.buttons {
    text-decoration: none !important;
    color: white
}

.buttons:hover {
    background-color: #000;
    border: #000 1px solid;
}

.dropdownService:hover {
    background-color: #000;
    border: #000 1px solid;
}